/1er año/TDP/2024/Objetos/Repaso/Repaso/build/
/1er año/TDP/2024/Objetos/Repaso/RepasoProject/nbproject/private/
/1er año/TDP/2024/Objetos/Repaso/RepasoProject/build/
/2do año/AYED/AYED2025/target/
/2do año/AYED2025/nbproject/private/
/2do año/AYED2025/build/
/2do año/AYED/build/
/2do año/AYED/nbproject/private/
