/1er año/TDP/2024/Objetos/Repaso/Repaso/build/
/1er año/TDP/2024/Objetos/Repaso/RepasoProject/nbproject/
/2do año/AYED/2025/nbproject
/2do año/AYED/2025/target/
/2do año/AYED/2025/nbproject/private/
/2do año/AYED/2025/build/
/2do año/AYED/build/
/2do año/AYED/nbproject/private/