/1er año/TDP/2024/Objetos/Repaso/Repaso/build/
/1er año/TDP/2024/Objetos/Repaso/RepasoProject/nbproject/private/
/1er año/TDP/2024/Objetos/Repaso/RepasoProject/build/
/2do año/AYED/AYED2025/target/
/2do año/AYED2025/nbproject/private/
/2do año/AYED2025/build/
/2do año/AYED/build/
/2do año/AYED/nbproject/private/
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.deps.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.exe
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.pdb
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.runtimeconfig.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/apphost.exe
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.AssemblyInfo.cs
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.AssemblyInfoInputs.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.assets.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.csproj.CoreCompileInputs.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.csproj.FileListAbsolute.txt
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.GeneratedMSBuildEditorConfig.editorconfig
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.genruntimeconfig.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.GlobalUsings.g.cs
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.pdb
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.sourcelink.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ref/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/refint/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/ejercicios-teoria3.csproj.nuget.dgspec.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/ejercicios-teoria3.csproj.nuget.g.props
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/project.assets.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/project.nuget.cache
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/bin/Debug/net9.0/ejercicios-teoria1.deps.json
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/bin/Debug/net9.0/ejercicios-teoria1.dll
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/bin/Debug/net9.0/ejercicios-teoria1.exe
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/bin/Debug/net9.0/ejercicios-teoria1.pdb
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/bin/Debug/net9.0/ejercicios-teoria1.runtimeconfig.json
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/apphost.exe
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.AssemblyInfo.cs
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.AssemblyInfoInputs.cache
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.assets.cache
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.csproj.CoreCompileInputs.cache
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.csproj.FileListAbsolute.txt
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.dll
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.GeneratedMSBuildEditorConfig.editorconfig
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.genruntimeconfig.cache
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.GlobalUsings.g.cs
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.pdb
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ejercicios-teoria1.sourcelink.json
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/ref/ejercicios-teoria1.dll
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/Debug/net9.0/refint/ejercicios-teoria1.dll
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/ejercicios-teoria1.csproj.nuget.dgspec.json
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/ejercicios-teoria1.csproj.nuget.g.props
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/project.assets.json
2do año/Seminario .NET/2025/Clase 1/ejercicios-teoria1/obj/project.nuget.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.exe
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/bin/Debug/net9.0/ejercicios-teoria3.pdb
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/apphost.exe
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.AssemblyInfo.cs
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.AssemblyInfoInputs.cache
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.pdb
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ejercicios-teoria3.sourcelink.json
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/ref/ejercicios-teoria3.dll
2do año/Seminario .NET/2025/Clase 3/ejercicios-teoria3/obj/Debug/net9.0/refint/ejercicios-teoria3.dll
